<div class="talents">
    <div class="our-talents">
        <h2>{{ "pages.home.our_talents.title" | translate }}</h2>
        <mat-divider></mat-divider>
        <p>{{ "pages.home.our_talents.description" | translate }}</p>
    </div>
    <div class="join-us">
        <div class="left-side">
            <h2>{{ "pages.home.join_us.description" | translate }}</h2>
            <button class="join-btn" mat-raised-button>{{ "pages.home.join_us.btn" | translate }}<mat-icon aria-hidden="false" aria-label="Example home icon" svgIcon="long_arrow"></mat-icon></button>
        </div>
        <div class="right-side">
            <img src="../../../../assets/media/home/join-us.svg" alt="Join Us">
        </div>
    </div>
</div>