<div class="hero-content">
    <div class="left">
        <h1 class="title">
            <span> {{"pages.generic_service.hero.title.make" | translate}}</span>
            <span class="orange-text"> {{"pages.generic_service.hero.title.apps" | translate}}</span>
            <span> {{"pages.generic_service.hero.title.with_us" | translate}} </span>
        </h1>
        <p class="description">
            <span>{{"pages.generic_service.hero.description.modern" | translate}} </span>
            <span class="underline"> {{"pages.generic_service.hero.description.seriously" | translate}}</span>
        </p>
        <button class="get-started-btn">{{"pages.generic_service.hero.btn" | translate}}<mat-icon aria-hidden="false" svgIcon="long_arrow" class="arrow-icon"></mat-icon></button>
    </div>
    <div class="right">
        <img [src]="imagePath" alt="Img" class="img">
    </div>
</div>