<div class="story">
        <h2 class="story-head">
            <span class="boldy">{{ 'pages.about_us.story.title' | translate }}</span>
        </h2>
        <div class="story-text">
               <p><span>{{ 'pages.about_us.story.description.paragraph1' | translate }}</span></p>
                <p><span>{{ 'pages.about_us.story.description.paragraph2' | translate }}</span></p>
                <p><span>{{ 'pages.about_us.story.description.paragraph3' | translate }}</span></p>
        </div>

</div>
