<div class="threat-alert-content">
    <div class="left">
        <img [src]="imageVpnPath" alt="threat-alert-img" class="img">
    </div>
    <div class="right">
        <h1 class="title">
            {{"pages.generic_service.cyber_threat.title" | translate}}
        </h1>
        <p class="description">
            {{"pages.generic_service.cyber_threat.description.paragraph1" | translate}}
        </p>
        <p class="description">
            {{"pages.generic_service.cyber_threat.description.paragraph2" | translate}}
        </p>
        <p class="description">
            {{"pages.generic_service.cyber_threat.description.paragraph3" | translate}}
        </p>
    </div>
</div>
