$orange : #DE834D;
$dark-blue: #2D3243;
$midnight-blue : #1A213A;
$navy-blue : #3c4258;
$light-grey: #F2F2F2;
$light-blue: #79B3E0;
$primary-font: Arial, Helvetica, sans-serif;

*{
    font-family: $primary-font;
}