@import "../../../app.component.scss";

.mission-container {
    width: 100%;
    background-color: $dark-blue;
    padding: 6rem 7.2% 1rem 7.2%;
    .title{
        margin: 0;
        color: $orange;
    }
    .content{
        color: $light-grey;
        line-height: 1.5;
        font-size: 1.1rem;
    }
}

@media (max-width:768px){
    .mission-container{
        padding: 6rem 10% 1rem 10%;
    }
}